<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spoto.dao.EmpMapper">

   <!--登录    -->
    <select id="newLogin" resultType="java.lang.Integer">
        SELECT count(*) FROM  account   WHERE  username= #{username}  AND passwd=#{passwd}
    </select>


    <insert id="add"  parameterType="com.spoto.model.Emp">
     INSERT INTO emp( role, username, uname, passwd_str, status, others) VALUES (#{role},#{username},#{uname},#{passwd},#{status},#{others})
    </insert>

    <update id="change" >
    UPDATE emp SET role = #{role}, username = #{username}, uname = #{uname},
                 passwd_str =#{passwd}, status = #{status}, others = #{others} WHERE id=#{id}
    </update>

    <delete id="del">
    DELETE FROM emp WHERE id IN (
             <foreach collection="ids" item="id" separator=",">
                 #{id}
             </foreach>
    )
    </delete>

     <!--查询一定要写 resultType,不过下面写了Type就可以不写-->
    <select id="getList"  resultMap="empResultMap">
          SELECT * FROM emp t1 <include refid="whereSql"></include>
    </select>

       <!-- //查询用户名和密码;-->
      <select id="listCount" resultType="java.lang.Integer">
           SELECT count(*) FROM emp t1 <include refid="whereSql"></include>
      </select>

    <!--工具类-->
    <sql id="whereSql">
        <where>
            <if test="username !=null and username !=''">
                AND t1.username LIKE  CONCAT ('%',#{username},'%')
            </if>
            <if test="passwd !=null and passwd !=''">
                AND t1.passwd_str LIKE CONCAT ('%',#{passwd},'%')
            </if>
        </where>
    </sql>

    <resultMap id="empResultMap" type="com.spoto.model.Emp">
         <result column="passwd_str" property="passwd"></result>
    </resultMap>
</mapper>